<footer class="cuerpo-footer">

  <div class="columna-footer">
    <h3>Sobre nosotros</h3>
    <p>SIMER es una empresa dedicada a la gestión de energía eléctrica,
    además a través de cursos y capacitaciones enfocamos a nuestros clientes 
    a que utilicen energías renovables ayudando al eco-sistema mientras ahorran dinero</p>
    <div class="contacto">
      <h3>Contacto</h3>
      <div class="contacto-icono">
        <img class="icono-texto" src="/img/PNG/Iconos/telefonoB.png" alt="icono youtube">
        <a href="tel:+59899999999"><p class="texto-icono">(+598) 99 999 999</p></a>
      </div>
      <div class="contacto-icono">
        <img class="icono-texto" src="/img/PNG/Iconos/emailB.png" alt="icono youtube">
        <a href="mailto:info@simer.com"><p class="texto-icono">info@simer.com</p></a>
      </div>
    </div>
  </div>

  <div class="columna-footer">
    <div class="servicio-footer">
      <h3>Nuestros servicios</h3>
      <ul>
        <li>Gestión de Energía</li>
        <li>Cursos y capacitaciones</li>
        <li>Alarmas de picos de consumo</li>
        <li>Gestión de planes de consumo</li>
      </ul>
    </div>
    <div class="suscribase">
      <h3>Suscribase</h3>
      <input class="input-footer" type="text" name='Email' id="Email" placeholder="Ingrese su Email">
      <input class="boton-footer" type="submit" value="Suscribirse">
    </div>
    <div class="rsociales-footer">
      <img class="icono-footer" src="/img/PNG/Iconos/facebookB.png" alt="icono facebook">
      <img class="icono-footer" src="/img/PNG/Iconos/instagramB.png" alt="icono instagram">
      <img class="icono-footer" src="/img/PNG/Iconos/instagramB.png" alt="icono youtube">
    </div>
  </div>

</footer>